#  --- Dot style dark ---
font-family        = "Segoe UI";
font-size          = "11";
arrow-size         = "0.5";
text               = "#828EA0FF";
edge-red           = "#EA3E53FF";
edge-green         = "#56AA56FF";
edge-blue          = "#6692C2FF";
edge-grey          = "#7C7C7CFF";
bold               = "#AEB6C2FF";
table-border-size  = "0";
table-bg           = "#828EA010";
red-table          = "#FF000010";
grey-table-0       = "#343736FF";
grey-table-text    = "#222222FF";
grey-table-1       = "#464948C0";
grey-table-edge    = "#69BFFFFF";
