set 0 50
set 1 60
set 2 0
set 3 0
set 4 0

push constant 7 // 1
pop  local 0    // 0
push local 0    // 1

label top1
	push constant 1   // 2
	sub               // 1
	pop  local 0      // 0
	push local 0      // 1
	push constant 1   // 2
	gt if-goto top1   // 1
	pop local 0       // 0
	push constant 987 // 1
	pop local 0       // 0  
