push constant 10
push constant 2
call ABC 2
goto end_program

function ABC 0
	push argument 0
  	push argument 0
	add              // 20
	push argument 0  
	add              // 30
	push argument 1 
	sub              // 28
 	return

label end_program